*
{
  margin : 0;
  padding: 0;
}
body{
  font-family: sans-serif;
}

#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar
{
background-image: linear-gradient(to right,#00adb5,#00adb5);
padding: 0 !important;
}

.navbar-brand img
{
  height: 100px;
  padding-left: 20px;
}
.navbar-navbar li
{
  padding: 0 10px;
}

.navbar-nav li a
{
  font-weight: 600;
  float: right;
}

.fa-bars
{

  font-size: 38px !important;
}
.navbar-toggler
{
  outline: none !important;
}


/*--------banner ---- */
#banner
{

  background-image: linear-gradient(to right,#eeeeee,#95e1d3);
  padding: 5%;
}
.promo-title
{
  font-size: 40px;
  font-weight: 600px;


}
.medi
{
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-left: 60px;
}

.img-fluide
{
  height: 200px;
  width: 200px;
}
